.about {
  height: 70rem;

  .about-profile {
    display: flex;
    align-items: center;
    margin: 5rem auto;
    width: 80rem;

    img {
      width: 20rem;
      border-radius: 50%;
      transform: rotate(-5deg);
    }

    h3 {
      font-size: 3rem;
      margin-left: 2rem;
      font-weight: 400;
      color: #795548;
    }
  }

  p {
    width: 81rem;
    margin: 0 auto;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 3.5rem;
  }
}
