.about {
  padding: 15rem 0;

  &-profile {
    display: flex;
    align-items: center;
    margin: 0 auto 5rem;
    width: 80rem;

    img {
      width: 20rem;
      border-radius: 50%;
      transform: rotate(-5deg);
    }

    h3 {
      font-size: 3rem;
      margin-left: 2rem;
      font-weight: 400;
      color: #795548;
    }
  }

  p {
    width: 81rem;
    margin: 0 auto;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 3.5rem;
  }
}

@media only screen and (max-width: 1224px) {
  .about {
    padding: 5rem 0;

    &-profile {
      width: 70rem;

      img {
        width: 15rem;
      }

      h3 {
        font-size: 2.5rem;
      }
    }
    p {
      width: 70rem;
      font-size: 2rem;
    }
  }
}
