.contact {
  width: 100%;

  &-container {
    width: 80%;
    height: 32rem;
    margin: 10rem;
  }

  &-atag {
    display: block;
    margin-right: 2rem;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    p {
      font-size: 2.2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .contact {
    &-container {
      margin: 10rem 0 15rem 5rem;
    }

    &-item {
      p {
        font-size: 1.5rem;
      }
    }
  }
}
