.header {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004e7c;
  h2 {
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
  }
}
