.skills {
  &-icons {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-icon {
    margin: 0 4rem 6rem;

    p {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      color: #666;
      margin-top: 1rem;
    }
  }
}
