.skills {
  width: 100%;

  &-icons {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-box {
    margin: 0 4rem 6rem;

    &-icon {
      font-size: 15rem;
    }

    p {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      color: #666;
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 720px) {
  .skills {
    &-icons {
      width: 100%;
      text-align: center;
    }
    &-box {
      width: 10rem;
      &-icon {
        font-size: 5rem;
      }
    }
  }
}
