.sidebar {
  height: 100%;
  width: 25rem;
  box-shadow: 1px 5px 5px 0px #555;
  background-color: #fff;
  position: fixed;

  &-icon {
    display: none;
    margin-left: 4rem;
  }

  &-title {
    height: 18rem;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3rem;
      color: #00008b;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.8rem;
      color: #555;
    }
  }

  .active {
    border-left: 0.4rem solid #00008b;
    transform: translateX(1rem);
    transition: all 0.4s ease-out;
    p {
      font-weight: 700;
    }
  }

  &-item {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-out;

    &:hover {
      border-left: 0.4rem solid #00008b;
      transform: translateX(1rem);
      transition: all 0.4s ease-out;
      cursor: pointer;

      p {
        font-weight: 700;
      }
    }

    p {
      color: #555;
      font-size: 1.8rem;
      margin-left: 2.5rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    top: 0;
    z-index: 10;

    &-icon {
      display: block;
    }

    &-title {
      display: none;
    }
  }
}
