* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.content-container {
  width: 100%;
}

.fixed-div {
  padding-left: 25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  visibility: hidden;
}

.show {
  display: block;
}

.not-show {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .fixed-div {
    display: none;
  }

  .container {
    display: block;
  }
}
